@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --navbg:#232327;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --navbg:#232327;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.navABS{
  height: 86px;
  width: 100%;
  background-color: var(--navbg);
  display: flex;

}
img{
  max-width: unset;
}
@media (max-width:500px) {
}
